.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    background-color: black;
}

.footer_logo{
    width: 50px;
    margin-left: 50px;
}

.footer_text{
    font-size: 13px;
    font-weight: 300;
    word-wrap: break-word;

}

.socials{
    margin-right: 50px;
}

.social_icon{
    width: 35px;
}